* {
  font-family: Inter, san-sarif;
}

.container-fluid {
  background: #262626;
}

.sidebar {
  width: 200px;
  background: #171717;
  border-right: 1.5px solid #444444;
}

.main {
  background: #171717;
  border-right: 1.5px solid #444444;
  min-width: 600px;
  max-width: 1300px;
  resize: horizontal;
  overflow: auto;
}

.topnav {
  border-bottom: 1.5px solid #444444;
  padding: 10px;
}

.topnav span {
  font-size: 17px;
  font-weight: 600;
}

.add-habit-btn {
  font-size: 13px;
  background-color: #3662cc;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px;
}

.search-btn {
  font-size: 13px;
  background-color: #424242;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 8px;
  padding-left: 10px;
}
