.container-fluid {
  background-color: #171717;
}

.login-content {
  max-width: 400px;
  text-align: center;
  color: #777775;
  background-color: #323232;
  border-radius: 7px;
}

p {
  font-size: 14px;
}

.google-signin-btn {
  background-color: white !important;
  border-color: white !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
}

.google-signin-btn img {
  margin-bottom: 1.5px;
}

.apple-signin-btn {
  background-color: black !important;
  border-color: black !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  padding: 7px !important;
}

.apple-signin-btn img {
  margin-bottom: 2px;
}

.email-signin {
  cursor: pointer;
}
