* {
  font-family: Inter, sans-serif;
}

.navbar-toggler {
  padding: 20px !important;
  border: 0 !important;
  outline: 0 !important;
}

.nav-item a {
  padding: 20px;
  font-weight: bold;
  color: #707070 !important;
}

.nav-item a:hover {
  color: #707070 !important;
}

.nav-item .sign-btn {
  color: #2a67f4 !important;
}

.nav-item .sign-btn:hover {
  color: #2a67f4 !important;
}

@media screen and (min-width: 768px) {
  .nav-item a {
    padding: 20px !important;
  }
}

.fa-bars {
  color: black;
}
