* {
  font-family: Inter, sans-serif;
  padding: 0 !important;
}

.navbar .container {
  max-width: 1300px;
}

@media screen and (min-width: 1440px) {
  .navbar .container {
    max-width: 1;
  }
}

.navbar-toggler {
  padding: 20px !important;
  border: 0 !important;
  outline: 0 !important;
}

.nav-item a {
  padding: 20px !important;
  font-weight: 500;
  color: #707070 !important;
}

.nav-item a:hover {
  color: #707070 !important;
}

.nav-item .sign-btn {
  color: #2a67f4 !important;
}

.nav-item .sign-btn:hover {
  color: #2a67f4 !important;
}

.fa-bars {
  color: black;
}

.hero-content {
  background: url(../assets/img/hero-image.jpg);
  background-size: cover;
  background-position: 70% 50%;
  height: 68vh;
  min-height: 550px;
  margin-top: 72px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .hero-content {
    height: 740px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-content {
    height: 820px;
  }
}

h1 {
  font-weight: 900 !important;
  font-size: 40px !important;
  max-width: 520px;
  margin-top: 60px !important;
}

p {
  max-width: 600px;
  font-size: 22px !important;
  color: #707070;
  margin-top: 10px !important;
  font-weight: 500 !important;
}

.get-started-btn {
  font-size: 18px !important;
  font-weight: 500 !important;
  background-color: #2a67f4 !important;
  padding: 0.8rem !important;
  margin-top: 10px !important;
}

.how-it-works {
  text-align: center;
}

.how-it-works-item img {
  width: 220px;
}

h3 {
  text-align: start;
  font-weight: 600 !important;
  font-size: 20px !important;
  max-width: 280px !important;
}

.p3 {
  text-align: start;
  font-size: 16px !important;
  max-width: 280px !important;
}

h2 {
  font-weight: 700 !important;
  font-size: 30px !important;
}

.p2 {
  max-width: 600px;
  font-size: 20px !important;
  color: #707070;
  margin-top: 10px !important;
  font-weight: 500 !important;
}

@media screen and (max-width: 991px) {
  .hero-content {
    background-position: 50% 50%;
    height: 550px;
  }

  .how-it-works-item img {
    width: 200px;
  }

  h1 {
    font-size: 36px !important;
    max-width: 400px;
  }

  p {
    font-size: 20px !important;
    max-width: 420px;
  }

  .get-started-btn {
    font-size: 16px !important;
    padding: 0.7rem !important;
  }

  h2 {
    font-size: 27px !important;
  }

  .p2 {
    font-size: 18px !important;
    max-width: 520px;
  }

  .p3 {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 479px) {
  .hero-content {
    background-position: 53% 50%;
  }

  h1 {
    font-size: 28px !important;
    max-width: 300px;
  }

  p {
    font-size: 17px !important;
    max-width: 410px;
  }

  .get-started-btn {
    font-size: 14px !important;
    padding: 0.6rem !important;
  }

  h2 {
    font-size: 24px !important;
  }

  .p2 {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    box-shadow: 0px 5px 6px -6px rgba(0, 0, 0, 0.75);
  }

  .how-it-works-item {
    align-items: center;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .p3 {
    text-align: center;
  }
}

.navbar-brand {
  margin-left: 20px !important;
}

.video-content {
  background-color: #2b2b2b;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.harness-power-content {
  background: #f3f6fd;
}

.golden-keys-content {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#v-pills-tab {
  padding-right: 60px !important;
}

.golden-keys-content div h2 {
  width: 80%;
}

.golden-keys-content div a {
  padding: 15px !important;
  color: #707070;
  font-size: 20px;
  font-weight: 500;
}

.fa {
  font-size: 20px !important;
  width: 30px;
}

@media screen and (min-width: 1440px) {
  .golden-keys-content div h2 {
    width: 60%;
  }

  .golden-keys-content div p {
    width: 85%;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #e9f0fe !important;
  color: #2a67f4 !important;
}

.tab-pane video {
  border-radius: 10px;
}

#golden-keys-section-1 {
  display: none;
}

#golden-keys-section-2 {
  display: none !important;
}

@media screen and (min-width: 992px) {
  #golden-keys-section-1 {
    display: flex;
  }
}
